# Advanced SQL Functions

In this notebook, we will explore some advanced SQL functions and techniques to help you manipulate and analyze data more effectively.

## 1. Aggregate Functions

Aggregate functions perform a calculation on a set of values and return a single value. Common aggregate functions include `COUNT`, `SUM`, `AVG`, `MIN`, and `MAX`.

In [ ]:
-- COUNT: Returns the number of rows that match a specified criterion
SELECT COUNT(*) FROM users;

-- SUM: Returns the total sum of a numeric column
SELECT SUM(age) FROM users;

-- AVG: Returns the average value of a numeric column
SELECT AVG(age) FROM users;

-- MIN: Returns the smallest value of the selected column
SELECT MIN(age) FROM users;

-- MAX: Returns the largest value of the selected column
SELECT MAX(age) FROM users;

## 2. Group By

The `GROUP BY` statement groups rows that have the same values into summary rows, like `find the number of customers in each country`. It is often used with aggregate functions.

In [ ]:
-- GROUP BY: Group results by one or more columns
SELECT age, COUNT(*) 
FROM users 
GROUP BY age;

## 3. Having Clause

The `HAVING` clause was added to SQL because the `WHERE` keyword could not be used with aggregate functions. `HAVING` is used to filter records that work on summarized `GROUP BY` results.

In [ ]:
-- HAVING: Filter groups based on a condition
SELECT age, COUNT(*) 
FROM users 
GROUP BY age 
HAVING COUNT(*) > 1;

## 4. Subqueries

A subquery is a query within another query. Subqueries can be used with `SELECT`, `INSERT`, `UPDATE`, and `DELETE` statements.

In [ ]:
-- Subquery: Find users with the maximum age
SELECT * 
FROM users 
WHERE age = (SELECT MAX(age) FROM users);

## 5. Joins

SQL joins are used to combine rows from two or more tables, based on a related column between them.

### Inner Join

In [ ]:
-- INNER JOIN: Select records with matching values in both tables
SELECT users.name, orders.product 
FROM users 
INNER JOIN orders ON users.id = orders.user_id;

### Left Join

In [ ]:
-- LEFT JOIN: Select records with matching values in the left table, and nulls for non-matching values in the right table
SELECT users.name, orders.product 
FROM users 
LEFT JOIN orders ON users.id = orders.user_id;

### Right Join

In [ ]:
-- RIGHT JOIN: Select records with matching values in the right table, and nulls for non-matching values in the left table
SELECT users.name, orders.product 
FROM users 
RIGHT JOIN orders ON users.id = orders.user_id;

### Full Join

In [ ]:
-- FULL JOIN: Select records with matching values in either table
SELECT users.name, orders.product 
FROM users 
FULL OUTER JOIN orders ON users.id = orders.user_id;

## 6. Indexes

Indexes are used to retrieve data from the database more quickly than otherwise. The users cannot see the indexes, they are just used to speed up searches/queries.

In [ ]:
-- Create an index on the email column
CREATE INDEX idx_email ON users (email);

-- Drop an index
DROP INDEX idx_email;

## 7. Transactions

A transaction is a sequence of one or more SQL operations treated as a unit. It ensures data integrity and is used to implement ACID properties (Atomicity, Consistency, Isolation, Durability).

In [ ]:
-- Start a transaction
BEGIN TRANSACTION;

-- Insert a user
INSERT INTO users (name, age, email) VALUES ('Alice', 28, 'alice@example.com');

-- Commit the transaction
COMMIT;

-- Rollback a transaction
BEGIN TRANSACTION;

-- Insert a user
INSERT INTO users (name, age, email) VALUES ('Bob', 34, 'bob@example.com');

-- Rollback the transaction
ROLLBACK;

## 8. Views

A view is a virtual table based on the result-set of an SQL statement. Views contain rows and columns, just like a real table.

In [ ]:
-- Create a view
CREATE VIEW user_orders AS
SELECT users.name, orders.product, orders.amount
FROM users
JOIN orders ON users.id = orders.user_id;

-- Select from the view
SELECT * FROM user_orders;

## 9. Stored Procedures

A stored procedure is a prepared SQL code that you can save and reuse. You can also pass parameters to a stored procedure, so that the stored procedure can act based on the parameter value(s) that are passed.

In [ ]:
-- Create a stored procedure
CREATE PROCEDURE GetUsers()
BEGIN
    SELECT * FROM users;
END;

-- Execute the stored procedure
CALL GetUsers();

## 10. Triggers

A trigger is a set of SQL statements that automatically 'fires' whenever a specified event occurs on a specified table.

In [ ]:
-- Create a trigger
CREATE TRIGGER before_insert_user
BEFORE INSERT ON users
FOR EACH ROW
BEGIN
    -- Trigger logic here
    SELECT 'A new user is being inserted';
END;