# More Advanced SQL Functions

In this notebook, we will explore even more advanced SQL functions and techniques to help you manipulate and analyze data more effectively.

## 1. Window Functions

Window functions perform calculations across a set of table rows that are somehow related to the current row. This is comparable to the type of calculation that can be done with an aggregate function.

In [ ]:
-- ROW_NUMBER: Assigns a unique sequential integer to rows within a partition
SELECT name, age, ROW_NUMBER() OVER (ORDER BY age) AS row_num
FROM users;

-- RANK: Assigns a rank to each row within a partition of a result set
SELECT name, age, RANK() OVER (ORDER BY age) AS rank
FROM users;

-- DENSE_RANK: Similar to RANK but without gaps in rank values
SELECT name, age, DENSE_RANK() OVER (ORDER BY age) AS dense_rank
FROM users;

-- NTILE: Distributes the rows in an ordered partition into a specified number of approximately equal groups
SELECT name, age, NTILE(2) OVER (ORDER BY age) AS ntile
FROM users;

-- LAG: Provides access to a row at a given physical offset that comes before the current row
SELECT name, age, LAG(age, 1) OVER (ORDER BY age) AS prev_age
FROM users;

-- LEAD: Provides access to a row at a given physical offset that follows the current row
SELECT name, age, LEAD(age, 1) OVER (ORDER BY age) AS next_age
FROM users;

## 2. Common Table Expressions (CTEs)

A Common Table Expression (CTE) is a temporary result set that is defined within the execution scope of a single `SELECT`, `INSERT`, `UPDATE`, or `DELETE` statement.

In [ ]:
-- WITH: Define a CTE
WITH UserAges AS (
    SELECT name, age
    FROM users
)
SELECT * FROM UserAges;

## 3. Recursive CTEs

Recursive CTEs are Common Table Expressions that refer to themselves. They are useful for querying hierarchical data.

In [ ]:
-- Recursive CTE example
WITH RECURSIVE cte AS (
    SELECT 1 AS n
    UNION ALL
    SELECT n + 1
    FROM cte
    WHERE n < 10
)
SELECT * FROM cte;

## 4. Pivot Tables

Pivot tables are used to summarize, sort, reorganize, group, count, total or average data stored in a database.

In [ ]:
-- Pivot table example
SELECT *
FROM (
    SELECT name, age
    FROM users
) AS source_table
PIVOT (
    COUNT(age)
    FOR age IN ([20], [25], [30])
) AS pivot_table;

## 5. Unpivot Tables

Unpivot tables are used to transform columns into rows, which is the reverse of pivot tables.

In [ ]:
-- Unpivot table example
SELECT name, age_group, age_value
FROM (
    SELECT name, [20], [25], [30]
    FROM users
) AS pivot_table
UNPIVOT (
    age_value FOR age_group IN ([20], [25], [30])
) AS unpivot_table;

## 6. JSON Functions

Many modern databases support JSON data types and functions to manipulate JSON data.

In [ ]:
-- JSON_EXTRACT: Extracts data from a JSON document
SELECT JSON_EXTRACT('{"name": "John", "age": 30}', '$.name') AS name;

-- JSON_ARRAY: Creates a JSON array
SELECT JSON_ARRAY(1, 2, 3) AS json_array;

-- JSON_OBJECT: Creates a JSON object
SELECT JSON_OBJECT('name', 'John', 'age', 30) AS json_object;

## 7. Full-Text Search

Full-text search allows you to quickly find all documents that contain a particular word or set of words.

In [ ]:
-- Create a full-text index
CREATE FULLTEXT INDEX idx_fulltext ON users (name, email);

-- Perform a full-text search
SELECT * FROM users
WHERE MATCH(name, email) AGAINST('John');

## 8. Temporary Tables

Temporary tables are used to store data temporarily during a session.

In [ ]:
-- Create a temporary table
CREATE TEMPORARY TABLE temp_users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
);

-- Insert data into the temporary table
INSERT INTO temp_users (name, age, email) VALUES ('Alice', 28, 'alice@example.com');

-- Select data from the temporary table
SELECT * FROM temp_users;

-- Drop the temporary table
DROP TABLE temp_users;

## 9. Data Types

Understanding the different data types available in SQL can help you design your tables more effectively.

In [ ]:
-- Common data types in SQL
CREATE TABLE data_types_example (
    id INTEGER PRIMARY KEY, -- Integer
    name TEXT NOT NULL, -- Text
    birth_date DATE, -- Date
    salary REAL, -- Real number
    is_active BOOLEAN -- Boolean
);

## 10. User-Defined Functions (UDFs)

User-Defined Functions (UDFs) allow you to create your own functions to encapsulate complex logic and reuse it in SQL statements.

In [ ]:
-- Create a user-defined function
CREATE FUNCTION CalculateAge(birth_date DATE)
RETURNS INTEGER
BEGIN
    DECLARE age INTEGER;
    SET age = YEAR(CURDATE()) - YEAR(birth_date);
    IF MONTH(CURDATE()) < MONTH(birth_date) OR (MONTH(CURDATE()) = MONTH(birth_date) AND DAY(CURDATE()) < DAY(birth_date)) THEN
        SET age = age - 1;
    END IF;
    RETURN age;
END;

-- Use the user-defined function
SELECT name, CalculateAge(birth_date) AS age FROM users;