# SQL Guide

SQL (Structured Query Language) is a standard language for managing and manipulating databases. It is used to create, read, update, and delete (CRUD) data in a database.

## 1. Introduction to SQL

SQL (Structured Query Language) is a standard language for managing and manipulating databases. It is used to create, read, update, and delete (CRUD) data in a database.

## 2. Installing a Database

### Install SQLite

In [ ]:
# For Windows, download the precompiled binaries from the SQLite website
# For macOS, use Homebrew
!brew install sqlite3
# For Linux, use the package manager
!sudo apt-get install sqlite3

## 3. Basic SQL Commands

### Create a Database

In [ ]:
-- Create a new database
sqlite3 my_database.db

### Create a Table

In [ ]:
-- Create a new table
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
);

### Insert Data

In [ ]:
-- Insert data into the table
INSERT INTO users (name, age, email) VALUES ('John Doe', 30, 'john@example.com');
INSERT INTO users (name, age, email) VALUES ('Jane Doe', 25, 'jane@example.com');

### Select Data

In [ ]:
-- Select data from the table
SELECT * FROM users;

## 4. Advanced SQL Commands

### Update Data

In [ ]:
-- Update data in the table
UPDATE users SET age = 31 WHERE id = 1;

### Delete Data

In [ ]:
-- Delete data from the table
DELETE FROM users WHERE id = 2;

### Complex Queries

In [ ]:
-- Select with conditions
SELECT * FROM users WHERE age > 25;

-- Join tables
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    product TEXT,
    amount REAL,
    FOREIGN KEY (user_id) REFERENCES users (id)
);

-- Insert data into orders table
INSERT INTO orders (user_id, product, amount) VALUES (1, 'Laptop', 999.99);

-- Join users and orders tables
SELECT users.name, orders.product, orders.amount
FROM users
JOIN orders ON users.id = orders.user_id;

## 5. Best Practices

- **Use meaningful names**: Use clear and meaningful names for tables and columns.
- **Normalize data**: Organize the database to reduce redundancy and improve data integrity.
- **Use transactions**: Ensure data integrity by using transactions, especially when performing multiple operations.
- **Indexing**: Use indexes to improve the performance of queries.
- **Backup regularly**: Regularly backup your database to prevent data loss.